/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin: 5%;
	width: 95%;
}
header{
	text-align: center;
	display: inline-block;
	margin: 5%;
	width: 75%;
}
.headcont{
	text-align: left;
	padding: 10px;
	width: 49%;
	margin: 0;
}
.headcont2{
	display: inline;
}
header a{
	text-decoration: none;
	color: slategray;
	margin: 0%;
	display: inline-block;
}
.cont1{
	font-size: 60px;
	text-align: center;
	display: inline-block;
	width: 60%;
	margin: 0 5% 5% 5%;
}
.subcont1{
	display: inline-block;
	margin: 0 15% 0 0;
}
.subcont2{
	display: inline;
	margin: 0 0 0 1%;
}
.cont1 h1{
	font-size: 80px;
	font-weight: 580;
}
.subcont1 button{
	background-color: white;
	border: 1px solid black;
	height: 38px;
	width: 190px;
	font-size: 18px;
}
.maincontent{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.maincontent .container{
	display: inline;
	margin: 0 10%;
}






footer{
	margin: 50px 0 100px 0;
}
footer .contact{
	width: 12%;
}
footer .copy{
	text-align: center;
}