/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin: 40px 5% 60px;
}

/* Header */
header{
	text-align: center;
	width: 60%;
	padding-bottom: 50px;
}
header .headcont .headcol{
	display: inline-block;
	width: 49%;
}
header .headcont .headcol a{
	text-decoration: none;
	color: slategray;
	padding: 0 10px;
}
header .headcont img{
	padding: 0 0 0 300px;
}

/* Subhead */
.subhead{
	width: 60%;
	padding: 0 5% 5% 0;
}
.subhead .subcont .col{
	width: 49%;
	display: inline-block;
	padding: 40px 5px 30px 20%;
	text-align: center;
}
.subhead h1{
	font-size: 80px;
	font-weight: 580;
	
}
.subcont button{
	background-color: white;
	border: 1px solid black;
	height: 38px;
	width: 190px;
	font-size: 18px;
}
.subcont button:hover{
	background-color: black;
	color: white;
}

/* Main Content */
.maincontent{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 50px 0 50px 0;
	width: 60%;
}
.maincontent .container1 .col1{
	width: 49%;
	display: inline-block;
	padding: 0 10px 40px 10px;
}
.maincontent .mid-image img{
	width: 100%;
}
.maincontent .container2 .col2{
	width: 33%;
	display: inline-block;
	padding: 40px 10px 0 10px;
}

/* Footer */
footer{
	margin: 50px 0 100px 0;
	width: 60%;
}
footer .contact{
	width: 15%;
}
footer .copy{
	text-align: center;
}